<app-one></app-one>
<app-two></app-two>
<hr />
<h4>Pipes</h4>
<ul class="list-group">
  <li class="list-group-item">Date without pipe : {{ DateToday }}</li>
  <li class="list-group-item">Date With Pipe : {{ DateToday | date }}</li>
  <li class="list-group-item">
    Date with the pipe and params : {{ DateToday | date: "full" | lowercase }}
  </li>
</ul>
<hr>
<!-- <h4>Pure And Impure Pipes</h4>
<button class="btn btn-primary" (click)="addUser()">Add User</button>
<input type="text" [[ngModel]]="filterIdType">
<ul class="list-group">
  <li class="list-group-item" *ngFor="let user of users |filter :filterIdType ">
 <div class="alert alert-success" role="alert">
    User Id: {{user.id}}<br>
    User Name : {{user.name}}
  </div>
</li>
</ul> -->
